global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend https_sni
    bind *:443
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend be_padel if { req_ssl_hello_type 1 } { req_ssl_sni -i padel.freecourts.nl }
    use_backend be_home  if { req_ssl_hello_type 1 } { req_ssl_sni -i home.budie.eu }

    default_backend be_home

backend be_padel
    mode tcp
    server padel 192.168.2.76:8443 check

backend be_home
    mode tcp
    server home 192.168.2.76:300 check
