[Unit]
Description=HAProxy SNI reverse proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=haproxy-sni:latest
ContainerName=haproxy-sni
Network=host
LogDriver=journald
AddCapability=CAP_NET_BIND_SERVICE

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
