[Unit]
Description=SNI Proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pyproxy
Group=pyproxy
WorkingDirectory=/opt/py_proxy

ExecStart=/usr/bin/python3 /opt/py_proxy/proxy.py /opt/py_proxy/config.json
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=py-proxy

[Install]
WantedBy=multi-user.target
